html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  opacity: 1;
  transition: 0.25s linear;
}
.inactive {
  opacity: 0;
  transition: 0.25s linear;
}

section::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
  border: 1px solid rgba(127, 127, 127, 0.358);
}

section::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: gray;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

div::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: gray;
  border-radius: 6px;
}
